:root {
    --logo-color-primario: #008abf;
    --logo-color-secundario: #818183;
    --logo-color-terciario: #97989a;
    --primario-oscuro: #133340;
}

.bg-oscuro {
    background-color: var(--primario-oscuro);
}

.bg-primario {
    background-color: var(--logo-color-primario);
}

.bg-secundario {
    background-color: var(--logo-color-secundario);
}

.bg-terciario {
    background-color: var(--logo-color-terciario);
}

#subscription-button{
    background: white;
    width: 75%;
    border-radius: 30px;
    transition: all 0.5s ease;
}

#subscription-button:hover{
    background: #f0932b;
    color: black;
    width: 100%;
    border-radius: 0;
}